In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,New Norfolk,AU,2022-07-23 22:10:02,-42.7826,147.0587,48.42,96,100,2.53
1,1,Methven,NZ,2022-07-23 22:10:03,-43.6333,171.6500,37.02,94,100,1.01
2,2,Bethel,US,2022-07-23 22:10:03,41.3712,-73.4140,95.54,46,0,6.91
3,3,Clyde River,CA,2022-07-23 22:10:03,70.4692,-68.5914,55.63,67,20,6.91
4,4,Gigmoto,PH,2022-07-23 22:10:04,13.7796,124.3900,82.24,84,89,5.77

In [13]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [25]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Gigmoto,PH,2022-07-23 22:10:04,13.7796,124.3900,82.24,84,89,5.77
5,5,Cabo San Lucas,MX,2022-07-23 22:06:22,22.8909,-109.9124,81.09,71,91,4.63
10,10,Puerto Ayora,EC,2022-07-23 22:10:05,-0.7393,-90.3518,78.76,87,81,7.00
13,13,Banda Aceh,ID,2022-07-23 22:10:07,5.5577,95.3222,77.67,84,100,3.40
17,17,Maine-Soroa,NE,2022-07-23 22:10:08,13.2114,12.0241,85.35,50,49,5.97
18,18,Varkkallai,IN,2022-07-23 22:10:08,8.7341,76.7067,78.58,91,99,9.26
35,35,Kapaa,US,2022-07-23 22:10:13,22.0752,-159.3190,78.71,69,13,13.91
36,36,Jeremie,HT,2022-07-23 22:10:13,18.6500,-74.1167,83.55,70,76,2.42
38,38,Shingu,JP,2022-07-23 22:10:14,33.7333,135.9833,77.45,70,72,2.06
40,40,Butaritari,KI,2022-07-23 22:10:15,3.0707,172.7902,81.36,79,23,15.39

In [35]:
preferred_cities_df.count()

City_ID       196
City          196
Country       196
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
4          Gigmoto      PH     82.24  13.7796  124.3900
5   Cabo San Lucas      MX     81.09  22.8909 -109.9124
10    Puerto Ayora      EC     78.76  -0.7393  -90.3518
13      Banda Aceh      ID     77.67   5.5577   95.3222
17     Maine-Soroa      NE     85.35  13.2114   12.0241
18      Varkkallai      IN     78.58   8.7341   76.7067
35           Kapaa      US     78.71  22.0752 -159.3190
36         Jeremie      HT     83.55  18.6500  -74.1167
38          Shingu      JP     77.45  33.7333  135.9833
40      Butaritari      KI     81.36   3.0707  172.7902

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [48]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Gigmoto,PH,82.24,13.7796,124.3900,Cj's Travellers Inn
5,Cabo San Lucas,MX,81.09,22.8909,-109.9124,Hotel Tesoro Los Cabos
10,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Banda Aceh,ID,77.67,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
17,Maine-Soroa,NE,85.35,13.2114,12.0241,Complexe
18,Varkkallai,IN,78.58,8.7341,76.7067,Hindustan Beach Retreat
35,Kapaa,US,78.71,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
36,Jeremie,HT,83.55,18.6500,-74.1167,Auberge’Inn
38,Shingu,JP,77.45,33.7333,135.9833,Shingu UI Hotel
40,Butaritari,KI,81.36,3.0707,172.7902,Isles Sunset Lodge

In [52]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [57]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))