## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bredasdorp,ZA,2022-07-29 03:21:28,-34.5322,20.0403,55.74,62,27,11.68,scattered clouds
1,1,Yellowknife,CA,2022-07-29 03:21:28,62.4560,-114.3525,64.92,48,75,14.97,broken clouds
2,2,Faanui,PF,2022-07-29 03:21:28,-16.4833,-151.7500,79.54,73,4,22.10,clear sky
3,3,Mar Del Plata,AR,2022-07-29 03:21:29,-38.0023,-57.5575,47.08,82,100,10.36,mist
4,4,Lavrentiya,RU,2022-07-29 03:21:29,65.5833,-171.0000,46.17,86,99,5.30,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Faanui,PF,2022-07-29 03:21:28,-16.4833,-151.7500,79.54,73,4,22.10,clear sky
7,7,Rikitea,PF,2022-07-29 03:21:30,-23.1203,-134.9692,73.29,74,9,20.67,light rain
8,8,Rapid Valley,US,2022-07-29 03:21:30,44.0625,-103.1463,72.52,44,0,5.99,clear sky
10,10,Yanam,IN,2022-07-29 03:21:31,16.7333,82.2167,87.98,62,15,1.92,few clouds
15,15,Poum,NC,2022-07-29 03:21:33,-20.2333,164.0167,72.25,72,98,7.00,overcast clouds
21,21,Port Blair,IN,2022-07-29 03:19:50,11.6667,92.7500,84.09,74,30,6.49,scattered clouds
22,22,Carnarvon,AU,2022-07-29 03:21:35,-24.8667,113.6333,72.01,61,100,4.94,overcast clouds
24,24,Nouadhibou,MR,2022-07-29 03:21:36,20.9310,-17.0347,71.83,80,5,19.26,clear sky
25,25,Avarua,CK,2022-07-29 03:20:07,-21.2078,-159.7750,77.05,78,40,19.57,scattered clouds
28,28,Ixtapa,MX,2022-07-29 03:21:37,20.7000,-105.2000,85.23,70,75,6.91,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371 entries, 2 to 704
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              371 non-null    int64
 1   City                 371 non-null    object
 2   Country              371 non-null    object
 3   Date                 371 non-null    object
 4   Lat                  371 non-null    float64
 5   Lng                  371 non-null    float64
 6   Max Temp             371 non-null    float64
 7   Humidity             371 non-null    int64
 8   Cloudiness           371 non-null    int64
 9   Wind Speed           371 non-null    float64
 10  Current Description  371 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 34.8+ KB

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how='any', inplace=True)
clean_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Faanui,PF,2022-07-29 03:21:28,-16.4833,-151.7500,79.54,73,4,22.10,clear sky
7,7,Rikitea,PF,2022-07-29 03:21:30,-23.1203,-134.9692,73.29,74,9,20.67,light rain
8,8,Rapid Valley,US,2022-07-29 03:21:30,44.0625,-103.1463,72.52,44,0,5.99,clear sky
10,10,Yanam,IN,2022-07-29 03:21:31,16.7333,82.2167,87.98,62,15,1.92,few clouds
15,15,Poum,NC,2022-07-29 03:21:33,-20.2333,164.0167,72.25,72,98,7.00,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
697,697,Lufilufi,WS,2022-07-29 03:40:25,-13.8745,-171.5986,89.38,78,21,20.38,few clouds
701,701,Mogadishu,SO,2022-07-29 03:40:26,2.0371,45.3438,76.87,78,75,14.97,broken clouds
702,702,Tabou,CI,2022-07-29 03:40:27,4.4230,-7.3528,74.21,75,82,8.05,broken clouds
703,703,Barkhan,PK,2022-07-29 03:40:27,29.8977,69.5256,79.34,71,100,1.81,overcast clouds
704,704,Panaba,MX,2022-07-29 03:40:27,21.2833,-88.2667,78.24,89,58,10.74,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Faanui,PF,79.54,clear sky,-16.4833,-151.7500,
7,Rikitea,PF,73.29,light rain,-23.1203,-134.9692,
8,Rapid Valley,US,72.52,clear sky,44.0625,-103.1463,
10,Yanam,IN,87.98,few clouds,16.7333,82.2167,
15,Poum,NC,72.25,overcast clouds,-20.2333,164.0167,
21,Port Blair,IN,84.09,scattered clouds,11.6667,92.7500,
22,Carnarvon,AU,72.01,overcast clouds,-24.8667,113.6333,
24,Nouadhibou,MR,71.83,clear sky,20.9310,-17.0347,
25,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,
28,Ixtapa,MX,85.23,broken clouds,20.7000,-105.2000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Faanui,PF,79.54,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Rikitea,PF,73.29,light rain,-23.1203,-134.9692,People ThankYou
8,Rapid Valley,US,72.52,clear sky,44.0625,-103.1463,Fairfield Inn & Suites by Marriott Rapid City
10,Yanam,IN,87.98,few clouds,16.7333,82.2167,The Regency Hotel
15,Poum,NC,72.25,overcast clouds,-20.2333,164.0167,
...,...,...,...,...,...,...,...
697,Lufilufi,WS,89.38,few clouds,-13.8745,-171.5986,Leuaina Beach Resort and Spa
701,Mogadishu,SO,76.87,broken clouds,2.0371,45.3438,Hotel Juba
702,Tabou,CI,74.21,broken clouds,4.4230,-7.3528,hotêl doufoulougou
703,Barkhan,PK,79.34,overcast clouds,29.8977,69.5256,Sardar
704,Panaba,MX,78.24,broken clouds,21.2833,-88.2667,Hotel Don Fernando

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "vacation_search/vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))